.footer {
  color: white;
  position:fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 98%; 
  background-color: #282828;
  padding: 20px;
}

.footer_Left {
  display:flex;
  flex:0.3;
  align-items: center;
  width:300px;

}

.footer_Center {
  display: flex;
  flex:0.5;
  padding: 0 100px;
  
  align-items: center;
  justify-content: space-between;
  max-width: 300px;

}

.footer_Right {
  flex:0.2;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
}


.footer_albumLogo {
  object-fit: contain;
  height:60px;
  margin-right: 10px;
}

.footer_green {
  color: #1ed15e;
}

.footer_songInfo > h4 {
  margin-bottom: 5px;
}

.footer_songInfo > p {
  margin-bottom: 12px;
}

.footer_icon:hover,
.footer_green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2)  !important
}


.footer_Right *.MuiSlider-root {
  color:green;
}