.login {
  display:grid;
  place-items: center;
  height: 100vh; 
  background-color: black;
}

.login > img {
  width: 50%;
  max-width: 400px;
  
}

.login > a {
  padding: 20px;
  border-radius: 90px;
  background-color: #1db954;
  font-weight: 700;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.login > h1 {
  color:white;
  margin-left: 30px;
  position:absolute;
  top: 280px;    
  font-size: 3.5rem;
}

h3 {
  color:red;
}